a {
    transition: transform 300ms;
}

a:hover {
    transform: scale(1.05);
}

.nunitosans{
    font-family: 'Nunito Sans', sans-serif;
}

button {
    transition: transform 300ms;
}

button:hover {
    transform: scale(1.05);
}

